.navbarLinkList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #333;
}
.navbar {
  background-color: red;
  width: 100%;
}
.navbarLinkList li {
  float: left;
  width: 100px;
}
.navbarLinkList li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbarLinkList li a:hover {
  background-color: #111;
}
